* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.input{
  width: 100%;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
}

.input-wrapper{
  margin: 10px;
}

.error-message{
  color: red;
}

.button{
  border-radius: 10px;
  background-color: rgb(24, 101, 226);
  color: #cccccc;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
}

.secondary-button{
  border-radius: 5px;
  background-color: #e9e9e9;
  color: #cccccc;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
}

.message-content{
  max-width: 40%;
  margin: 5px;
  clear: both;
}

.sender{
  font-size: 12px;
}

.content{
  padding: 5px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.friend-message{
  float: left;
  text-align: left;
}

.my-message{
  float: right;
  text-align: right;
}

.friend-message .content{
  background-color: #e9e9e9;
  color: #000000;
}

.my-message .content{
  background-color: #4482ff;
  color: #ffffff;
}

.notification{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin-left: 12px;
  text-align: left;
}

@media only screen and (max-width: 768px){
  .conversation-item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
  }
}