.input{
  width: 100%;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
}

.input-wrapper{
  margin: 10px;
}

.error-message{
  color: red;
}

.button{
  border-radius: 10px;
  background-color: rgb(24, 101, 226);
  color: #cccccc;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
}